.end-button {
    width: 90%;
    height: 3.3rem;
    margin: auto;
    margin-top: 250px;
    background-color: hsl(234, 29%, 20%);
    border: 1px solid hsl(234, 29%, 20%);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
}

.end-button:hover {
    background-color: hsl(235, 18%, 26%);
    transform: translate(1px, -1px);
}

/* === MEDIA QUERY PARA DESKTOP === */

@media (min-width: 768px) {
    .end-button {
        margin-top: 25px;
    }
}