/* === CONFIGURAÇÕES PARA MOBILE === */

.newsletter-container {
    max-width: 375px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: 'Roboto', sans-serif;
    background-color: hsl(0, 0%, 100%);
}

/* Imagem no topo */
.image-container {
    width: 100%;
    height: 275px;
    border-radius: 0 0 1rem 1rem;
    background-image: url('../assets/images/illustration-sign-up-mobile.svg');
}

/* Bloco de texto */
.text-content h1 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding-left: 1rem;
    
    border: 1px solid red;
}

.text-content p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding-left: 1rem;

    border: 1px solid red;
}

/*Lista*/
.text-content ul {
    font-size: 0.9rem;
    list-style-type: none;
    margin-bottom: 1.5rem;

    border: 1px solid red;
}

.text-content li {
    margin-bottom: 0.5rem;

    border: 1px solid red;
}

.text-content li::before {
    content: url(../assets/images/icon-list.svg);
    margin-right: 1rem;

}

/* === MEDIA QUERY PARA DESKTOP === */

@media (min-width: 768px) {
    .newsletter-container {
        max-width: 900px;
        height: 100vh;
        margin: 0 auto;
        display: flex;

       
    }
}
